@model IEnumerable<Product>

@{
    ViewData["Title"] = "جستجو";
}

@if (Model != null && Model.Any())
{
    <div class="container mt-5">

        <div class="row g-4">

            @foreach(var item in Model)
            {
                <partial name="_Product" model="item" />
            }

        </div>

    </div>
}
else
{
    <div class="d-flex flex-column justify-content-center align-items-center" style="height: 70vh;">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="200" height="200">
                <path xmlns="http://www.w3.org/2000/svg" d="M19 3C13.488281 3 9 7.488281 9 13C9 15.398438 9.851563 17.597656 11.265625 19.324219L3.292969 27.292969L4.707031 28.707031L12.675781 20.734375C14.402344 22.148438 16.601563 23 19 23C24.511719 23 29 18.511719 29 13C29 7.488281 24.511719 3 19 3 Z M 19 5C23.429688 5 27 8.570313 27 13C27 17.429688 23.429688 21 19 21C14.570313 21 11 17.429688 11 13C11 8.570313 14.570313 5 19 5 Z M 16 10C15.449219 10 15 10.449219 15 11C15 11.550781 15.449219 12 16 12C16.550781 12 17 11.550781 17 11C17 10.449219 16.550781 10 16 10 Z M 22 10C21.449219 10 21 10.449219 21 11C21 11.550781 21.449219 12 22 12C22.550781 12 23 11.550781 23 11C23 10.449219 22.550781 10 22 10 Z M 19 14C16.792969 14 15.34375 15.246094 15.34375 15.246094C15.0625 15.472656 14.929688 15.839844 14.996094 16.199219C15.058594 16.554688 15.316406 16.851563 15.660156 16.964844C16.003906 17.082031 16.386719 17 16.65625 16.753906C16.65625 16.753906 17.515625 16 19 16C20.484375 16 21.34375 16.753906 21.34375 16.753906C21.613281 17 21.996094 17.082031 22.339844 16.964844C22.683594 16.851563 22.941406 16.554688 23.003906 16.199219C23.070313 15.839844 22.9375 15.472656 22.65625 15.246094C22.65625 15.246094 21.207031 14 19 14Z" fill="#28A745"/>
            </svg>
            <h5 class="mt-5 text-center" style="font-weight: 600;">محصولی یافت نشد!</h5>
            <p class="mt-1 text-center">از طریق لینک زیر می‌توانید به تمامی محصولات دسترسی داشته باشید.</p>
            <a asp-controller="Home" asp-action="Index" class="btn btn-success mt-3">مشاهده محصولات</a>
    </div>
}
