@{
    ViewData["Title"] = "پرداخت";
}

<div class="d-flex flex-column justify-content-center align-items-center" style="height: 70vh;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="200" height="200">
            <path xmlns="http://www.w3.org/2000/svg" d="M23 3C22.449219 3 22 3.449219 22 4L22 11.75L18 22L18 43C18.414063 44.164063 19.695313 45 21 45L40 45C42.207031 45 44 43.207031 44 41C44 40.175781 43.738281 39.417969 43.3125 38.78125C44.871094 38.234375 46 36.742188 46 35C46 34.019531 45.648438 33.132813 45.0625 32.4375C46.222656 31.738281 47 30.453125 47 29C47 28.019531 46.648438 27.132813 46.0625 26.4375C47.222656 25.738281 48 24.453125 48 23C48 20.792969 46.207031 19 44 19L29.375 19C29.984375 17.070313 31 13.617188 31 12C31 8.234375 28.242188 3 25.53125 3 Z M 3 19C2.714844 19 2.441406 19.128906 2.25 19.34375C2.058594 19.558594 1.964844 19.839844 2 20.125L5 44.125C5.0625 44.625 5.496094 45 6 45L15 45C15.550781 45 16 44.554688 16 44L16 20C16 19.449219 15.550781 19 15 19 Z M 11.5 38C12.328125 38 13 38.671875 13 39.5C13 40.328125 12.328125 41 11.5 41C10.671875 41 10 40.328125 10 39.5C10 38.671875 10.671875 38 11.5 38Z" fill="#28A745"/>
        </svg>
        <h5 class="mt-5 text-center" style="font-weight: 600;">درگاه پرداختی یافت نشد!</h5>
        <p class="mt-1 text-center">ممنون از شما که وقت گذاشتید و این پروژه را بررسی کردید.</p>
        <a asp-controller="Home" asp-action="Index" class="btn btn-success mt-3">صفحه‌اصلی</a>
</div>